<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home | My App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
  Welcome to the story of our love 👋
</header>

<div style="text-align:center; margin-top:40px;">
  <p>Select which part of our story you want to explore:</p>

  <a href="/countdown"><button>📅 Meetings & Countdown</button></a>
  <br>
  <a href="/movies"><button>🎬 Movie List</button></a>
</div>

</body>
</html>