<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home | My App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
  Welcome to the story of our love ❤️
</header>

<div style="text-align:center; margin-top:40px;">
  <p>Which part of our story do you want to explore?</p>

  <a href="/countdown"><button>📅 Meetups</button></a>
  <a href="/messages"><button>💬 Messages</button></a>
  <a href="/memories"><button>🧠 Memories</button></a>
  {% for key, names in categories.items() %}
    <a href="{{ url_for('category_page', category=key) }}"><button>{{ names[0] }} {{ names[1] }}</button></button></a>
  {% endfor %}
</div>

<img src="{{ url_for('static', filename='front_page_image.jpg') }}" alt="Welcome Image" class="home-image">

</body>
</html>